@import "util"

.chonky
  $table-side-padding: 0.6em

  &-view-details
    position: relative
    display: table

    &-header, &-row
      display: table-row !important
      font-size: 0.95em

      & > div
        padding: 0.4em $table-side-padding
        display: table-cell !important
        &:first-child
          width: 1px

    &-header
      & > div
        border-bottom: solid 1px $border-light
        color: $fg-subtle-dark

        &.chonky-clickable
          cursor: pointer
          &:hover
            background-color: $bg-dark

    &-row
      &:hover
        background-color: $bg-dark

      & > div
        border-bottom: solid 1px $border-lighter

        &:first-child
          padding-right: 0.2em
          font-size: 1.3em
